.depoimentos {
    background-color: var(--cor-fundo-destaque);
    text-align: center;
    padding: 4em;
}

.depoimentos__subtitulo {
    color: var(--cor-destaque);
    font-size: 14px;
    font-weight: 600;
}

.depoimentos__titulo {
    color: var(--preto);
    font-size: 36px;
    margin-top: 0.5em;
    
}

.depoimentos__img {
    display: block;
    margin: auto;
    padding-top: 2em;
}

.depoimentos__nome {
    display: block;
    color: var(--preto);
}

.depoimentos__funcao {
    font-size: 14px;
    font-weight: 400;
}