@import url(header.css);
@import url(metricas.css);
@import url(vagas.css);
@import url(depoimentos.css);
@import url(rodape.css);

:root {

    --cor-de-fundo: #FFFFFF;
    --cor-principal: #667085;
    --cor-destaque: #8E2424;
    --cor-fundo-destaque: #8e24240d;
    --preto: #101828;

    --font-principal: 'Inter', sans-serif;

}

body {
    margin: 0 8em;
    background: var(--cor-de-fundo);
    color: var(--cor-principal);
    font:500 16px var(--font-principal);  
}